body {
  background-color: black;
  color: white;
  text-align: center;
  align-items: center;
  margin: 0;
 font-family:"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
code {
  text-align: center;
  font-family:"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

  background-color: black;
  color: rgb(238, 238, 238);
}
.myModal{
  background-color: #dadada;
  color:rgb(0, 0, 0);
  border-color: #FFC107;
  
}
.myModel:closeButton{
 color: #FFC107;
}

.myInput{
background-color: #161616;
color: rgb(0, 0, 0);
}
.myInput:focus{
 background-color: #161616;
 color: white;
 /*border-color: #FFC107;  
 box-shadow: #FFC107; */
 border-color: #FFC107;
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 193, 7, 0.5);
}